# Virtual Environment
Include/
Lib/
Scripts/
pyvenv.cfg
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Database & Uploads
*.db
backend/spsems.db
*.bak*
*.bak_pre_clear
uploads/
backend/uploads/


# Environment variables
.env
backend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Node.js / React
frontend/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
.pnp
.pnp.js

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dev artifacts
ml-service/.gstack/
